doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Panel
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    #app
    if NODE_ENV === 'development'
      script(src='assets/main.bundle.js')
    else
      script(src='assets/main.bundle.js')
      script(src='assets/mainVendor.bundle.js')
